.main-navigation {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.19);

  height: 82px;

  @screen lg {
    height: auto;
  }

  .navigation-content {
    @include flex--sb-w;

    @apply w-full;
    @apply lg:container lg:px-5 lg:mx-auto lg:gap-4;

    @media (min-width: 2490px) {
      @apply !max-w-[51vw];
    }

    /* background-color: #fff; */

    .controls-container {
      @apply w-full flex justify-between;
      @apply lg:w-auto lg:max-w-full lg:static lg:block lg:px-0;

      .logo-link {
        @apply text-xl font-bold leading-relaxed inline-block py-3 whitespace-nowrap uppercase text-white;

        img {
          @apply w-auto;

          height: 66px;
        }
      }

      .items-toggle {
        @apply cursor-pointer text-xl leading-none border border-solid border-transparent rounded bg-transparent block outline-none w-8;
        @apply focus:outline-none;
        @apply lg:hidden;
      }
    }

    .items-container {
      @apply flex-grow bg-black-light py-5;
      @apply lg:bg-transparent lg:py-0;

      > .container {
        @apply mr-0;
      }

      &.opened {
        @apply flex w-full z-50;
        color: #fff;
      }

      &.closed {
        @apply hidden;
        @apply lg:flex;
      }

      ul {
        @apply flex flex-col list-none;
        @apply lg:flex-row lg:items-center lg:p-0 lg:w-auto;

        .text-menu-item a {
          @apply text-base leading-loose;
          @apply hover:text-[#DD8656];
          @apply lg:px-3;
        }

        .button-menu-item {
          a {
            @apply mt-3 inline-block;
            @apply lg:ml-3 lg:mt-0;
          }
        }

        .button-menu-item + .button-menu-item {
          a {
            @apply lg:ml-6;
          }
        }
      }
    }
  }
}
