body {
  @apply overflow-x-hidden;
  font-family: "Eduflex-light";
}

/**
* Basic styles for links
*/
a {
  @apply no-underline text-blue;
}

a:hover,
a:active,
a:focus {
  @apply opacity-100;
}

/**
* Use this class when Skeleton component is inside a flex container
* ie: <Skeleton containerClassname="skeleton-in-flex-container" />
* https://github.com/dvtng/react-loading-skeleton/issues/122
*/
.skeleton-container {
  @apply block flex-grow;

  line-height: 1;
}



@font-face {
  font-family: 'Eduflex-light';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url('/assets/fonts/EuclidFlex-Light.ttf') format('woff2');
}

/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */
@font-face {
  font-family: 'Euclid-Regular';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url('/assets/fonts/EuclidFlex-Regular.ttf') format('woff2');
}